
<ul class="sum-text-list">
  <li class="text-center glow-purple sum-text">The Situation:<br>
      <%= @cards[0].situation %></li>
  <li class="text-center glow-purple sum-text">The Wrong Path:<br>
      <%= @cards[1].danger %></li>
  <li class="text-center glow-purple sum-text">The Way Forward:<br>
      <%= @cards[2].safety %></li>
  <li class="text-center glow-purple sum-text">The Likely Outcome:<br>
      <%= @cards[3].outcome %></li>
</ul>

<div class='container'>
  <div class='row card-container row-centered show-reading'>
    <% @cards.each do |card| %>
      <%= image_tag("http://res.cloudinary.com/dd3qqoc9s/image/upload/v1510879875/cards/" + card.image_path + "_" + @user.deck.to_s + ".png", { class: 'col-sm-3 col-centered card-sum'})%>
    <% end %>
  </div>
</div>
